sudo: false
language: go
os:
  - linux
  - osx
go:
  - 1.13.x
  - 1.12.x

# Only clone the most recent commit.
git:
  depth: 1

env:
  - GO111MODULE=on

before_install:
  - go get -t -v ./...

script:
  - ./go.test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

  // CODECOV_TOKEN="6f472283-e06d-411b-a5a0-fd3475b9556c"